@model ApplicantAssessmentSystem.App.Models.ViewModels.QuestionViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AssessmentManager_Layout.cshtml";
}
<div class="pagetitle">
    <h1>Set Question</h1>
</div>
<hr />
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row mb-3">
                    <label asp-for="QuestionNumber" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="QuestionNumber" class="form-control" />
                        <span asp-validation-for="QuestionNumber" class="text-danger"></span>
                    </div>
                </div>



                <div class="row mb-3">
                    <label asp-for="Subject" class="col-sm-2 col-form-label"></label>

                    <div class="col-sm-6">
                        <span asp-validation-for="Subject" class="text-danger"></span>
                        <select asp-for="Subject" name="Subject" id="Subject" class="form-control">
                            <option value="Select" selected>Select</option>
                            <option value="General Knowledge">General Knowledge</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Computer Technology">Computer Technology</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label asp-for="QuestionText" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="QuestionText" class="form-control" />
                        <span asp-validation-for="QuestionText" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label asp-for="Option1" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="Option1" class="form-control" />
                        <span asp-validation-for="Option1" class="text-danger"></span>
                    </div>
                    </div>
                <div class="row mb-3">
                    <label asp-for="Option2" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="Option2" class="form-control" />
                        <span asp-validation-for="Option2" class="text-danger"></span>
                    </div>
                    </div>
                <div class="row mb-3">
                    <label asp-for="Option3" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="Option3" class="form-control" />
                        <span asp-validation-for="Option3" class="text-danger"></span>
                    </div>
                    </div>
                <div class="row mb-3">
                    <label asp-for="Answer" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="Answer" class="form-control" />
                        <span asp-validation-for="Answer" class="text-danger"></span>
                    </div>
                    </div>
                <div class="row mb-3">
                    <label asp-for="AttributedScore" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="AttributedScore" class="form-control" />
                        <span asp-validation-for="AttributedScore" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="row mb-3">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
</form>
        </div>
    </div>
</section>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
