<div class="card" id="computer-technology-card" style="display:none">
    <div class="card-body">

        <h5 class="card-title" id="subjectTitle">Computer Technology</h5>
        <!-- Horizontal Form -->
        <form>
            <div id="ComputerTechnology1">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" id="ComputerTechnologyQuestion1Number"></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="ComputerTechnologyQuestion1Text" readonly>
                    </div>
                </div>

                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0"></legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion1Option" id="ComputerTechnologyQuestion1option1" value="">
                            <label class="form-check-label" id="ComputerTechnologyQuestion1option1Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion1Option" id="ComputerTechnologyQuestion1option2" value="">
                            <label class="form-check-label" id="ComputerTechnologyQuestion1option2Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion1Option" id="ComputerTechnologyQuestion1option3" value="">
                            <label class="form-check-label" id="ComputerTechnologyQuestion1option3Label"></label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div id="ComputerTechnology2">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" id="ComputerTechnologyQuestion2Number"></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="ComputerTechnologyQuestion2Text" readonly>
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0"></legend>
                    <div class="col-sm-20">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion2Option" id="ComputerTechnologyQuestion2option1" value="">
                            <label class="form-check-label" id="ComputerTechnologyQuestion2option1Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion2Option" id="ComputerTechnologyQuestion2option2" value="">
                            <label class="form-check-label" id="ComputerTechnologyQuestion2option2Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion2Option" id="ComputerTechnologyQuestion2option3" value="">
                            <label class="form-check-label" id="ComputerTechnologyQuestion2option3Label"></label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div id="ComputerTechnology3">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" id="ComputerTechnologyQuestion3Number"></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="ComputerTechnologyQuestion3Text" readonly>
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0"></legend>
                    <div class="col-sm-20">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion3Option" id="ComputerTechnologyQuestion3option1" value="">
                            <label class="form-check-label" id="ComputerTechnologyQuestion3option1Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion3Option" id="ComputerTechnologyQuestion3option2" value="">
                            <label class="form-check-label" id="ComputerTechnologyQuestion3option2Label"> </label>
                            <a href="D:\sandbox\net\applicant-assessment-system\ApplicantAssessmentSystem.App\Views\Applicant\ComputerTechnology.cshtml">D:\sandbox\net\applicant-assessment-system\ApplicantAssessmentSystem.App\Views\Applicant\ComputerTechnology.cshtml</a>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion3Option" id="ComputerTechnologyQuestion3option3" value="">
                            <label class="form-check-label" id="ComputerTechnologyQuestion3option3Label"></label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div id="ComputerTechnology4">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" id="ComputerTechnologyQuestion4Number"></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="ComputerTechnologyQuestion4Text" readonly>
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0"></legend>
                    <div class="col-sm-20">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion4Option" id="ComputerTechnologyQuestion4option1" value="">
                            <label class="form-check-label" id="ComputerTechnologyQuestion4option1Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion4Option" id="ComputerTechnologyQuestion4option2" value="">
                            <label class="form-check-label" id="ComputerTechnologyQuestion4option2Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion4Option" id="ComputerTechnologyQuestion4option3" value="">
                            <label class="form-check-label" id="ComputerTechnologyQuestion4option3Label"></label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div id="ComputerTechnology5">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" id="ComputerTechnologyQuestion5Number"></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="ComputerTechnologyQuestion5Text" readonly>
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0"></legend>
                    <div class="col-sm-20">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion5Option" id="ComputerTechnologyQuestion5option1" value="">
                            <label class="form-check-label" id="ComputerTechnologyQuestion5option1Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion5Option" id="ComputerTechnologyQuestion5option2" value="">
                            <label class="form-check-label" id="ComputerTechnologyQuestion5option2Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion5Option" id="ComputerTechnologyQuestion5option3" value="">
                            <label class="form-check-label" id="ComputerTechnologyQuestion5option3Label"></label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" id="SubmitComputerTechnology">Submit Computer Technology</button>
            </div>
        </form><!-- End Horizontal Form -->

    </div>
</div>