<div class="card" id="mathematics-card" style="display:none">
    <div class="card-body">

        <h5 class="card-title" id="subjectTitle">Mathematics</h5>
        <!-- Horizontal Form -->
        <form>
            <div id="Mathematics1">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" id="MathematicsQuestion1Number"></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="MathematicsQuestion1Text" readonly>
                    </div>
                </div>

                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0"></legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MathematicsQuestion1Option" id="MathematicsQuestion1option1" value="">
                            <label class="form-check-label" id="MathematicsQuestion1option1Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MathematicsQuestion1Option" id="MathematicsQuestion1option2" value="">
                            <label class="form-check-label" id="MathematicsQuestion1option2Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MathematicsQuestion1Option" id="MathematicsQuestion1option3" value="">
                            <label class="form-check-label" id="MathematicsQuestion1option3Label"></label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div id="Mathematics2">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" id="MathematicsQuestion2Number"></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="MathematicsQuestion2Text" readonly>
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0"></legend>
                    <div class="col-sm-20">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MathematicsQuestion2Option" id="MathematicsQuestion2option1" value="">
                            <label class="form-check-label" id="MathematicsQuestion2option1Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MathematicsQuestion2Option" id="MathematicsQuestion2option2" value="">
                            <label class="form-check-label" id="MathematicsQuestion2option2Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MathematicsQuestion2Option" id="MathematicsQuestion2option3" value="">
                            <label class="form-check-label" id="MathematicsQuestion2option3Label"></label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div id="Mathematics3">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" id="MathematicsQuestion3Number"></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="MathematicsQuestion3Text" readonly>
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0"></legend>
                    <div class="col-sm-20">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MathematicsQuestion3Option" id="MathematicsQuestion3option1" value="">
                            <label class="form-check-label" id="MathematicsQuestion3option1Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MathematicsQuestion3Option" id="MathematicsQuestion3option2" value="">
                            <label class="form-check-label" id="MathematicsQuestion3option2Label"> </label>
                            <a href="D:\sandbox\net\applicant-assessment-system\ApplicantAssessmentSystem.App\Views\Applicant\Mathematics.cshtml">D:\sandbox\net\applicant-assessment-system\ApplicantAssessmentSystem.App\Views\Applicant\Mathematics.cshtml</a>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MathematicsQuestion3Option" id="MathematicsQuestion3option3" value="">
                            <label class="form-check-label" id="MathematicsQuestion3option3Label"></label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div id="Mathematics4">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" id="MathematicsQuestion4Number"></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="MathematicsQuestion4Text" readonly>
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0"></legend>
                    <div class="col-sm-20">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MathematicsQuestion4Option" id="MathematicsQuestion4option1" value="">
                            <label class="form-check-label" id="MathematicsQuestion4option1Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MathematicsQuestion4Option" id="MathematicsQuestion4option2" value="">
                            <label class="form-check-label" id="MathematicsQuestion4option2Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MathematicsQuestion4Option" id="MathematicsQuestion4option3" value="">
                            <label class="form-check-label" id="MathematicsQuestion4option3Label"></label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div id="Mathematics5">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" id="MathematicsQuestion5Number"></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="MathematicsQuestion5Text" readonly>
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0"></legend>
                    <div class="col-sm-20">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MathematicsQuestion5Option" id="MathematicsQuestion5option1" value="">
                            <label class="form-check-label" id="MathematicsQuestion5option1Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MathematicsQuestion5Option" id="MathematicsQuestion5option2" value="">
                            <label class="form-check-label" id="MathematicsQuestion5option2Label"> </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="MathematicsQuestion5Option" id="MathematicsQuestion5option3" value="">
                            <label class="form-check-label" id="MathematicsQuestion5option3Label"></label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" id="SubmitMathematics">Submit Mathematics</button>
            </div>
        </form><!-- End Horizontal Form -->

    </div>
</div>