@model ApplicantAssessmentSystem.App.Models.ViewModels.ApplicantViewModel

@{
    ViewData["Title"] = "Enrol";
    Layout = "~/Views/Shared/AssessmentManager_Layout.cshtml";
}
<!-- Start Page Title -->
<div class="pagetitle">
    <h1>Enrol Applicant</h1>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <form asp-action="Enrol">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row mb-3">
                    <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label asp-for="BirthDate" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label asp-for="HighestQualification" class="col-sm-2 col-form-label"></label>

                    <div class="col-sm-6">
                        <input asp-for="HighestQualification" class="form-control" />
                        <span asp-validation-for="HighestQualification" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label asp-for="InstitutionName" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="InstitutionName" class="form-control" />
                        <span asp-validation-for="InstitutionName" class="text-danger"></span>
                    </div>
                </div>


                <div class="row mb-3">
                    <label asp-for="GraduationYear" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="GraduationYear" class="form-control" />
                        <span asp-validation-for="GraduationYear" class="text-danger"></span>
                    </div>
                </div>


                <div class="row mb-3">
                    <label asp-for="TotalYearsofExperience" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="TotalYearsofExperience" class="form-control" />
                        <span asp-validation-for="TotalYearsofExperience" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label asp-for="LastorCurrentEmployerName" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="LastorCurrentEmployerName" class="form-control" />
                        <span asp-validation-for="LastorCurrentEmployerName" class="text-danger"></span>
                    </div>
                    </div>
                <div class="row mb-3">
                    <label asp-for="EmploymentStartDate" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="EmploymentStartDate" class="form-control" />
                        <span asp-validation-for="EmploymentStartDate" class="text-danger"></span>
                    </div>
                    </div>
                <div class="row mb-3">
                    <label asp-for="EmploymentEndDate" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="EmploymentEndDate" class="form-control" />
                        <span asp-validation-for="EmploymentEndDate" class="text-danger"></span>
                    </div>
                    </div>
                <div class="row mb-3">
                    <label asp-for="Username" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    </div>
                <div class="row mb-3">
                    <label asp-for="Password" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="row mb-3">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
</form>
        </div>
    </div>
</section>
<div>
    <a asp-action="Applicants">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
