@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/AssessmentApplicant_Layout.cshtml";
}
<!-- Start Page Title -->
<div class="pagetitle">
    <h1>Test</h1>
</div><!-- End Page Title -->
<input type="hidden" id="ApplicantId" value="@TempData["ApplicantId"]" />
<input type="hidden" id="currentSubject" value="" />
<div id="testTimer" style="display:none">
    <label id="minute"></label>:
    <label id="second"></label>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <button type="submit" class="btn btn-primary" id="startGeneralKnowledgeButton">Start General Knowlege Test</button>
            <button type="submit" class="btn btn-primary" id="startMathematicsButton" disabled="disabled">Start Mathematics Test</button>
            <button type="submit" class="btn btn-primary" id="startComputerTechnologyButton" disabled="disabled">Start Computer Technology Test</button>
            <div class="card" id="general-knowledge-card" style="display:none">
                <div class="card-body">

                    <h5 class="card-title" id="subjectTitle">General Knowledge</h5>
                    <!-- Horizontal Form -->
                    <form>
                        <div id="GeneralKnowledge1">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="GeneralKnowledgeQuestion1Number"></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="GeneralKnowledgeQuestion1Text" readonly>
                                </div>
                            </div>

                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="GeneralKnowledgeQuestion1Option" id="GeneralKnowledgeQuestion1option1" value="">
                                        <label class="form-check-label" id="GeneralKnowledgeQuestion1option1Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="GeneralKnowledgeQuestion1Option" id="GeneralKnowledgeQuestion1option2" value="">
                                        <label class="form-check-label" id="GeneralKnowledgeQuestion1option2Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="GeneralKnowledgeQuestion1Option" id="GeneralKnowledgeQuestion1option3" value="">
                                        <label class="form-check-label" id="GeneralKnowledgeQuestion1option3Label"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div id="GeneralKnowledge2">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="GeneralKnowledgeQuestion2Number"></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="GeneralKnowledgeQuestion2Text" readonly>
                                </div>
                            </div>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-20">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="GeneralKnowledgeQuestion2Option" id="GeneralKnowledgeQuestion2option1" value="">
                                        <label class="form-check-label" id="GeneralKnowledgeQuestion2option1Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="GeneralKnowledgeQuestion2Option" id="GeneralKnowledgeQuestion2option2" value="">
                                        <label class="form-check-label" id="GeneralKnowledgeQuestion2option2Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="GeneralKnowledgeQuestion2Option" id="GeneralKnowledgeQuestion2option3" value="">
                                        <label class="form-check-label" id="GeneralKnowledgeQuestion2option3Label"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div id="GeneralKnowledge3">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="GeneralKnowledgeQuestion3Number"></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="GeneralKnowledgeQuestion3Text" readonly>
                                </div>
                            </div>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-20">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="GeneralKnowledgeQuestion3Option" id="GeneralKnowledgeQuestion3option1" value="">
                                        <label class="form-check-label" id="GeneralKnowledgeQuestion3option1Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="GeneralKnowledgeQuestion3Option" id="GeneralKnowledgeQuestion3option2" value="">
                                        <label class="form-check-label" id="GeneralKnowledgeQuestion3option2Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="GeneralKnowledgeQuestion3Option" id="GeneralKnowledgeQuestion3option3" value="">
                                        <label class="form-check-label" id="GeneralKnowledgeQuestion3option3Label"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div id="GeneralKnowledge4">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="GeneralKnowledgeQuestion4Number"></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="GeneralKnowledgeQuestion4Text" readonly>
                                </div>
                            </div>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-20">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="GeneralKnowledgeQuestion4Option" id="GeneralKnowledgeQuestion4option1" value="">
                                        <label class="form-check-label" id="GeneralKnowledgeQuestion4option1Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="GeneralKnowledgeQuestion4Option" id="GeneralKnowledgeQuestion4option2" value="">
                                        <label class="form-check-label" id="GeneralKnowledgeQuestion4option2Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="GeneralKnowledgeQuestion4Option" id="GeneralKnowledgeQuestion4option3" value="">
                                        <label class="form-check-label" id="GeneralKnowledgeQuestion4option3Label"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div id="GeneralKnowledge5">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="GeneralKnowledgeQuestion5Number"></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="GeneralKnowledgeQuestion5Text" readonly>
                                </div>
                            </div>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-20">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="GeneralKnowledgeQuestion5Option" id="GeneralKnowledgeQuestion5option1" value="">
                                        <label class="form-check-label" id="GeneralKnowledgeQuestion5option1Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="GeneralKnowledgeQuestion5Option" id="GeneralKnowledgeQuestion5option2" value="">
                                        <label class="form-check-label" id="GeneralKnowledgeQuestion5option2Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="GeneralKnowledgeQuestion5Option" id="GeneralKnowledgeQuestion5option3" value="">
                                        <label class="form-check-label" id="GeneralKnowledgeQuestion5option3Label"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" id="SubmitGeneralKnowledge">Submit</button>
                        </div>
                    </form><!-- End Horizontal Form -->

                </div>
            </div>
            @*@Html.Partial("_Mathematics")*@
            <div class="card" id="mathematics-card" style="display:none">
                <div class="card-body">

                    <h5 class="card-title" id="subjectTitle">Mathematics</h5>
                    <!-- Horizontal Form -->
                    <form>
                        <div id="Mathematics1">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="MathematicsQuestion1Number"></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="MathematicsQuestion1Text" readonly>
                                </div>
                            </div>

                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="MathematicsQuestion1Option" id="MathematicsQuestion1option1" value="">
                                        <label class="form-check-label" id="MathematicsQuestion1option1Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="MathematicsQuestion1Option" id="MathematicsQuestion1option2" value="">
                                        <label class="form-check-label" id="MathematicsQuestion1option2Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="MathematicsQuestion1Option" id="MathematicsQuestion1option3" value="">
                                        <label class="form-check-label" id="MathematicsQuestion1option3Label"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div id="Mathematics2">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="MathematicsQuestion2Number"></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="MathematicsQuestion2Text" readonly>
                                </div>
                            </div>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-20">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="MathematicsQuestion2Option" id="MathematicsQuestion2option1" value="">
                                        <label class="form-check-label" id="MathematicsQuestion2option1Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="MathematicsQuestion2Option" id="MathematicsQuestion2option2" value="">
                                        <label class="form-check-label" id="MathematicsQuestion2option2Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="MathematicsQuestion2Option" id="MathematicsQuestion2option3" value="">
                                        <label class="form-check-label" id="MathematicsQuestion2option3Label"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div id="Mathematics3">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="MathematicsQuestion3Number"></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="MathematicsQuestion3Text" readonly>
                                </div>
                            </div>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-20">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="MathematicsQuestion3Option" id="MathematicsQuestion3option1" value="">
                                        <label class="form-check-label" id="MathematicsQuestion3option1Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="MathematicsQuestion3Option" id="MathematicsQuestion3option2" value="">
                                        <label class="form-check-label" id="MathematicsQuestion3option2Label"> </label>
                                        <a href="D:\sandbox\net\applicant-assessment-system\ApplicantAssessmentSystem.App\Views\Applicant\Mathematics.cshtml">D:\sandbox\net\applicant-assessment-system\ApplicantAssessmentSystem.App\Views\Applicant\Mathematics.cshtml</a>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="MathematicsQuestion3Option" id="MathematicsQuestion3option3" value="">
                                        <label class="form-check-label" id="MathematicsQuestion3option3Label"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div id="Mathematics4">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="MathematicsQuestion4Number"></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="MathematicsQuestion4Text" readonly>
                                </div>
                            </div>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-20">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="MathematicsQuestion4Option" id="MathematicsQuestion4option1" value="">
                                        <label class="form-check-label" id="MathematicsQuestion4option1Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="MathematicsQuestion4Option" id="MathematicsQuestion4option2" value="">
                                        <label class="form-check-label" id="MathematicsQuestion4option2Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="MathematicsQuestion4Option" id="MathematicsQuestion4option3" value="">
                                        <label class="form-check-label" id="MathematicsQuestion4option3Label"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div id="Mathematics5">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="MathematicsQuestion5Number"></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="MathematicsQuestion5Text" readonly>
                                </div>
                            </div>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-20">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="MathematicsQuestion5Option" id="MathematicsQuestion5option1" value="">
                                        <label class="form-check-label" id="MathematicsQuestion5option1Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="MathematicsQuestion5Option" id="MathematicsQuestion5option2" value="">
                                        <label class="form-check-label" id="MathematicsQuestion5option2Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="MathematicsQuestion5Option" id="MathematicsQuestion5option3" value="">
                                        <label class="form-check-label" id="MathematicsQuestion5option3Label"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" id="SubmitMathematics">Submit Mathematics</button>
                        </div>
                    </form><!-- End Horizontal Form -->

                </div>
            </div>
            @*@Html.PartialAsync("_ComputerTechnology")*@
            <div class="card" id="computer-technology-card" style="display:none">
                <div class="card-body">

                    <h5 class="card-title" id="subjectTitle">Computer Technology</h5>
                    <!-- Horizontal Form -->
                    <form>
                        <div id="ComputerTechnology1">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="ComputerTechnologyQuestion1Number"></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="ComputerTechnologyQuestion1Text" readonly>
                                </div>
                            </div>

                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion1Option" id="ComputerTechnologyQuestion1option1" value="">
                                        <label class="form-check-label" id="ComputerTechnologyQuestion1option1Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion1Option" id="ComputerTechnologyQuestion1option2" value="">
                                        <label class="form-check-label" id="ComputerTechnologyQuestion1option2Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion1Option" id="ComputerTechnologyQuestion1option3" value="">
                                        <label class="form-check-label" id="ComputerTechnologyQuestion1option3Label"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div id="ComputerTechnology2">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="ComputerTechnologyQuestion2Number"></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="ComputerTechnologyQuestion2Text" readonly>
                                </div>
                            </div>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-20">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion2Option" id="ComputerTechnologyQuestion2option1" value="">
                                        <label class="form-check-label" id="ComputerTechnologyQuestion2option1Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion2Option" id="ComputerTechnologyQuestion2option2" value="">
                                        <label class="form-check-label" id="ComputerTechnologyQuestion2option2Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion2Option" id="ComputerTechnologyQuestion2option3" value="">
                                        <label class="form-check-label" id="ComputerTechnologyQuestion2option3Label"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div id="ComputerTechnology3">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="ComputerTechnologyQuestion3Number"></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="ComputerTechnologyQuestion3Text" readonly>
                                </div>
                            </div>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-20">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion3Option" id="ComputerTechnologyQuestion3option1" value="">
                                        <label class="form-check-label" id="ComputerTechnologyQuestion3option1Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion3Option" id="ComputerTechnologyQuestion3option2" value="">
                                        <label class="form-check-label" id="ComputerTechnologyQuestion3option2Label"> </label>
                                        <a href="D:\sandbox\net\applicant-assessment-system\ApplicantAssessmentSystem.App\Views\Applicant\ComputerTechnology.cshtml">D:\sandbox\net\applicant-assessment-system\ApplicantAssessmentSystem.App\Views\Applicant\ComputerTechnology.cshtml</a>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion3Option" id="ComputerTechnologyQuestion3option3" value="">
                                        <label class="form-check-label" id="ComputerTechnologyQuestion3option3Label"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div id="ComputerTechnology4">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="ComputerTechnologyQuestion4Number"></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="ComputerTechnologyQuestion4Text" readonly>
                                </div>
                            </div>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-20">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion4Option" id="ComputerTechnologyQuestion4option1" value="">
                                        <label class="form-check-label" id="ComputerTechnologyQuestion4option1Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion4Option" id="ComputerTechnologyQuestion4option2" value="">
                                        <label class="form-check-label" id="ComputerTechnologyQuestion4option2Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion4Option" id="ComputerTechnologyQuestion4option3" value="">
                                        <label class="form-check-label" id="ComputerTechnologyQuestion4option3Label"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div id="ComputerTechnology5">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" id="ComputerTechnologyQuestion5Number"></label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="ComputerTechnologyQuestion5Text" readonly>
                                </div>
                            </div>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0"></legend>
                                <div class="col-sm-20">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion5Option" id="ComputerTechnologyQuestion5option1" value="">
                                        <label class="form-check-label" id="ComputerTechnologyQuestion5option1Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion5Option" id="ComputerTechnologyQuestion5option2" value="">
                                        <label class="form-check-label" id="ComputerTechnologyQuestion5option2Label"> </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="ComputerTechnologyQuestion5Option" id="ComputerTechnologyQuestion5option3" value="">
                                        <label class="form-check-label" id="ComputerTechnologyQuestion5option3Label"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" id="SubmitComputerTechnology">Submit Computer Technology</button>
                        </div>
                    </form><!-- End Horizontal Form -->

                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {

            function timer() {
                document.getElementById("testTimer").style.display = "block"
                document.getElementById("minute").innerText = "1";
                document.getElementById("second").innerText = "59";
                const myTimeout = setInterval(function () {
                    let minute = Number(document.getElementById("minute").innerText);
                    let second = Number(document.getElementById("second").innerText);

                    second = second - 1;
                    let secondStringValue = second.toString();
                    if (secondStringValue.length === 1)
                        secondStringValue = "0" + secondStringValue;
                    document.getElementById("second").innerText = secondStringValue;


                    if (second === 0) {
                        //check current minute
                        let currentMinute = Number(document.getElementById("minute").innerText);

                        if (currentMinute === 0) {
                            clearTimeout(myTimeout);
                            //submit test for the ongoin subject
                            let currentSubject = $('#currentSubject').val();
                            debugger;
                            if (currentSubject === "General Knowledge") {
                                submitGeneralKnowledge();
                            }
                            else if (currentSubject === "Mathematics") {
                                submitMathematics();
                            }
                            else if (currentSubject === "Computer Technology") {
                                submitComputerTechnology();
                            }
                        }

                        if (currentMinute > 0) {
                            document.getElementById("second").innerText = "59";
                        }

                        minute = minute - 1;

                        let minuteStringValue = second.toString();
                        if (minuteStringValue.length === 1)
                            minuteStringValue = "0" + minuteStringValue;
                        document.getElementById("minute").innerText = minuteStringValue;

                    }

                }, 1000);
            }

            $('#startGeneralKnowledgeButton').click(function (e) {
                debugger;
                e.preventDefault();
                $('#currentSubject').val("General Knowledge");
                getAnswerDetailByApplicantId();
                //timer(); // timer call after checking if candidate has doe the test or not
            })

            $('#startMathematicsButton').click(function (e) {
                debugger;
                e.preventDefault();
                $('#currentSubject').val("Mathematics");
                document.getElementById("mathematics-card").style.display = "block"
                document.getElementById("startMathematicsButton").style.display = "none";
                getMathematicsQuestions();
                timer();
            })

            $('#startComputerTechnologyButton').click(function (e) {
                debugger;
                e.preventDefault();
                $('#currentSubject').val("Computer Technology");
                document.getElementById("computer-technology-card").style.display = "block"
                document.getElementById("startComputerTechnologyButton").style.display = "none";
                getComputerTechnologyQuestions();
                timer();
            })

            $('#SubmitGeneralKnowledge').click(function (e) {
                debugger;
                e.preventDefault();
                submitGeneralKnowledge();
            })

            $('#SubmitMathematics').click(function (e) {
                debugger;
                e.preventDefault();
                submitMathematics();
            })

            $('#SubmitComputerTechnology').click(function (e) {
                debugger;
                e.preventDefault();
                submitComputerTechnology()
            })


            function submitGeneralKnowledge() {
                document.getElementById("startMathematicsButton").disabled = false
                document.getElementById("general-knowledge-card").style.display = "none"
                saveGeneralKnowledgeAnswers();
            }

            function submitMathematics() {
                document.getElementById("startComputerTechnologyButton").disabled = false
                document.getElementById("mathematics-card").style.display = "none"
                saveMathematicsAnswers()
            }

            function submitComputerTechnology() {
                document.getElementById("computer-technology-card").style.display = "none"
                saveComputerTechnologyAnswers()
            }
            function getGeneralKnowledgeQuestions() {
                let subject = "General Knowledge";
                $.ajax({
                    url: '../api/question/GetQuestionBySubject',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json',
                    async: false,
                    data: {
                        subject: subject
                    },
                    success: function (response) {
                        debugger;
                        if (response !== null) {
                            for (let i = 0; i < response.length; i++) {
                                if (response[i].questionNumber === 1) {
                                    $('#GeneralKnowledgeQuestion1Number').text(response[i].questionNumber);
                                    $('#GeneralKnowledgeQuestion1Text').val(response[i].questionText);
                                    $('#GeneralKnowledgeQuestion1option1').val(response[i].option1);
                                    $('#GeneralKnowledgeQuestion1option2').val(response[i].option2);
                                    $('#GeneralKnowledgeQuestion1option3').val(response[i].option3);

                                    $('#GeneralKnowledgeQuestion1option1Label').text(response[i].option1);
                                    $('#GeneralKnowledgeQuestion1option2Label').text(response[i].option2);
                                    $('#GeneralKnowledgeQuestion1option3Label').text(response[i].option3);
                                }

                                if (response[i].questionNumber === 2) {
                                    $('#GeneralKnowledgeQuestion2Number').text(response[i].questionNumber);
                                    $('#GeneralKnowledgeQuestion2Text').val(response[i].questionText);
                                    $('#GeneralKnowledgeQuestion2option1').val(response[i].option1);
                                    $('#GeneralKnowledgeQuestion2option2').val(response[i].option2);
                                    $('#GeneralKnowledgeQuestion2option3').val(response[i].option3);

                                    $('#GeneralKnowledgeQuestion2option1Label').text(response[i].option1);
                                    $('#GeneralKnowledgeQuestion2option2Label').text(response[i].option2);
                                    $('#GeneralKnowledgeQuestion2option3Label').text(response[i].option3);
                                }

                                if (response[i].questionNumber === 3) {
                                    $('#GeneralKnowledgeQuestion3Number').text(response[i].questionNumber);
                                    $('#GeneralKnowledgeQuestion3Text').val(response[i].questionText);
                                    $('#GeneralKnowledgeQuestion3option1').val(response[i].option1);
                                    $('#GeneralKnowledgeQuestion3option2').val(response[i].option2);
                                    $('#GeneralKnowledgeQuestion3option3').val(response[i].option3);

                                    $('#GeneralKnowledgeQuestion3option1Label').text(response[i].option1);
                                    $('#GeneralKnowledgeQuestion3option2Label').text(response[i].option2);
                                    $('#GeneralKnowledgeQuestion3option3Label').text(response[i].option3);
                                }

                                if (response[i].questionNumber === 4) {
                                    $('#GeneralKnowledgeQuestion4Number').text(response[i].questionNumber);
                                    $('#GeneralKnowledgeQuestion4Text').val(response[i].questionText);
                                    $('#GeneralKnowledgeQuestion4option1').val(response[i].option1);
                                    $('#GeneralKnowledgeQuestion4option2').val(response[i].option2);
                                    $('#GeneralKnowledgeQuestion4option3').val(response[i].option3);

                                    $('#GeneralKnowledgeQuestion4option1Label').text(response[i].option1);
                                    $('#GeneralKnowledgeQuestion4option2Label').text(response[i].option2);
                                    $('#GeneralKnowledgeQuestion4option3Label').text(response[i].option3);
                                }

                                if (response[i].questionNumber === 5) {
                                    $('#GeneralKnowledgeQuestion5Number').text(response[i].questionNumber);
                                    $('#GeneralKnowledgeQuestion5Text').val(response[i].questionText);
                                    $('#GeneralKnowledgeQuestion5option1').val(response[i].option1);
                                    $('#GeneralKnowledgeQuestion5option2').val(response[i].option2);
                                    $('#GeneralKnowledgeQuestion5option3').val(response[i].option3);
                                    4
                                    $('#GeneralKnowledgeQuestion5option1Label').text(response[i].option1);
                                    $('#GeneralKnowledgeQuestion5option2Label').text(response[i].option2);
                                    $('#GeneralKnowledgeQuestion5option3Label').text(response[i].option3);
                                }

                            }
                        }
                    },
                    error: function (error) {
                        //alert("Error occured");//To avoid alerting if no internet connection.
                        console.log(error);
                    }
                });
            }

            function getMathematicsQuestions() {
                let subject = "Mathematics";
                $.ajax({
                    url: '../api/question/GetQuestionBySubject',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json',
                    async: false,
                    data: {
                        subject: subject
                    },
                    success: function (response) {
                        debugger;
                        if (response !== null) {
                            for (let i = 0; i < response.length; i++) {
                                if (response[i].questionNumber === 1) {
                                    $('#MathematicsQuestion1Number').text(response[i].questionNumber);
                                    $('#MathematicsQuestion1Text').val(response[i].questionText);
                                    $('#MathematicsQuestion1option1').val(response[i].option1);
                                    $('#MathematicsQuestion1option2').val(response[i].option2);
                                    $('#MathematicsQuestion1option3').val(response[i].option3);

                                    $('#MathematicsQuestion1option1Label').text(response[i].option1);
                                    $('#MathematicsQuestion1option2Label').text(response[i].option2);
                                    $('#MathematicsQuestion1option3Label').text(response[i].option3);
                                }

                                if (response[i].questionNumber === 2) {
                                    $('#MathematicsQuestion2Number').text(response[i].questionNumber);
                                    $('#MathematicsQuestion2Text').val(response[i].questionText);
                                    $('#MathematicsQuestion2option1').val(response[i].option1);
                                    $('#MathematicsQuestion2option2').val(response[i].option2);
                                    $('#MathematicsQuestion2option3').val(response[i].option3);

                                    $('#MathematicsQuestion2option1Label').text(response[i].option1);
                                    $('#MathematicsQuestion2option2Label').text(response[i].option2);
                                    $('#MathematicsQuestion2option3Label').text(response[i].option3);
                                }

                                if (response[i].questionNumber === 3) {
                                    $('#MathematicsQuestion3Number').text(response[i].questionNumber);
                                    $('#MathematicsQuestion3Text').val(response[i].questionText);
                                    $('#MathematicsQuestion3option1').val(response[i].option1);
                                    $('#MathematicsQuestion3option2').val(response[i].option2);
                                    $('#MathematicsQuestion3option3').val(response[i].option3);

                                    $('#MathematicsQuestion3option1Label').text(response[i].option1);
                                    $('#MathematicsQuestion3option2Label').text(response[i].option2);
                                    $('#MathematicsQuestion3option3Label').text(response[i].option3);
                                }

                                if (response[i].questionNumber === 4) {
                                    $('#MathematicsQuestion4Number').text(response[i].questionNumber);
                                    $('#MathematicsQuestion4Text').val(response[i].questionText);
                                    $('#MathematicsQuestion4option1').val(response[i].option1);
                                    $('#MathematicsQuestion4option2').val(response[i].option2);
                                    $('#MathematicsQuestion4option3').val(response[i].option3);

                                    $('#MathematicsQuestion4option1Label').text(response[i].option1);
                                    $('#MathematicsQuestion4option2Label').text(response[i].option2);
                                    $('#MathematicsQuestion4option3Label').text(response[i].option3);
                                }

                                if (response[i].questionNumber === 5) {
                                    $('#MathematicsQuestion5Number').text(response[i].questionNumber);
                                    $('#MathematicsQuestion5Text').val(response[i].questionText);
                                    $('#MathematicsQuestion5option1').val(response[i].option1);
                                    $('#MathematicsQuestion5option2').val(response[i].option2);
                                    $('#MathematicsQuestion5option3').val(response[i].option3);
                                    4
                                    $('#MathematicsQuestion5option1Label').text(response[i].option1);
                                    $('#MathematicsQuestion5option2Label').text(response[i].option2);
                                    $('#MathematicsQuestion5option3Label').text(response[i].option3);
                                }

                            }
                        }
                    },
                    error: function (error) {
                        //alert("Error occured");//To avoid alerting if no internet connection.
                        console.log(error);
                    }
                });
            }

            function getComputerTechnologyQuestions() {
                let subject = "Computer Technology";
                $.ajax({
                    url: '../api/question/GetQuestionBySubject',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json',
                    async: false,
                    data: {
                        subject: subject
                    },
                    success: function (response) {
                        debugger;
                        if (response !== null) {
                            for (let i = 0; i < response.length; i++) {
                                if (response[i].questionNumber === 1) {
                                    $('#ComputerTechnologyQuestion1Number').text(response[i].questionNumber);
                                    $('#ComputerTechnologyQuestion1Text').val(response[i].questionText);
                                    $('#ComputerTechnologyQuestion1option1').val(response[i].option1);
                                    $('#ComputerTechnologyQuestion1option2').val(response[i].option2);
                                    $('#ComputerTechnologyQuestion1option3').val(response[i].option3);

                                    $('#ComputerTechnologyQuestion1option1Label').text(response[i].option1);
                                    $('#ComputerTechnologyQuestion1option2Label').text(response[i].option2);
                                    $('#ComputerTechnologyQuestion1option3Label').text(response[i].option3);
                                }

                                if (response[i].questionNumber === 2) {
                                    $('#ComputerTechnologyQuestion2Number').text(response[i].questionNumber);
                                    $('#ComputerTechnologyQuestion2Text').val(response[i].questionText);
                                    $('#ComputerTechnologyQuestion2option1').val(response[i].option1);
                                    $('#ComputerTechnologyQuestion2option2').val(response[i].option2);
                                    $('#ComputerTechnologyQuestion2option3').val(response[i].option3);

                                    $('#ComputerTechnologyQuestion2option1Label').text(response[i].option1);
                                    $('#ComputerTechnologyQuestion2option2Label').text(response[i].option2);
                                    $('#ComputerTechnologyQuestion2option3Label').text(response[i].option3);
                                }

                                if (response[i].questionNumber === 3) {
                                    $('#ComputerTechnologyQuestion3Number').text(response[i].questionNumber);
                                    $('#ComputerTechnologyQuestion3Text').val(response[i].questionText);
                                    $('#ComputerTechnologyQuestion3option1').val(response[i].option1);
                                    $('#ComputerTechnologyQuestion3option2').val(response[i].option2);
                                    $('#ComputerTechnologyQuestion3option3').val(response[i].option3);

                                    $('#ComputerTechnologyQuestion3option1Label').text(response[i].option1);
                                    $('#ComputerTechnologyQuestion3option2Label').text(response[i].option2);
                                    $('#ComputerTechnologyQuestion3option3Label').text(response[i].option3);
                                }

                                if (response[i].questionNumber === 4) {
                                    $('#ComputerTechnologyQuestion4Number').text(response[i].questionNumber);
                                    $('#ComputerTechnologyQuestion4Text').val(response[i].questionText);
                                    $('#ComputerTechnologyQuestion4option1').val(response[i].option1);
                                    $('#ComputerTechnologyQuestion4option2').val(response[i].option2);
                                    $('#ComputerTechnologyQuestion4option3').val(response[i].option3);

                                    $('#ComputerTechnologyQuestion4option1Label').text(response[i].option1);
                                    $('#ComputerTechnologyQuestion4option2Label').text(response[i].option2);
                                    $('#ComputerTechnologyQuestion4option3Label').text(response[i].option3);
                                }

                                if (response[i].questionNumber === 5) {
                                    $('#ComputerTechnologyQuestion5Number').text(response[i].questionNumber);
                                    $('#ComputerTechnologyQuestion5Text').val(response[i].questionText);
                                    $('#ComputerTechnologyQuestion5option1').val(response[i].option1);
                                    $('#ComputerTechnologyQuestion5option2').val(response[i].option2);
                                    $('#ComputerTechnologyQuestion5option3').val(response[i].option3);
                                    4
                                    $('#ComputerTechnologyQuestion5option1Label').text(response[i].option1);
                                    $('#ComputerTechnologyQuestion5option2Label').text(response[i].option2);
                                    $('#ComputerTechnologyQuestion5option3Label').text(response[i].option3);
                                }

                            }
                        }
                    },
                    error: function (error) {
                        //alert("Error occured");//To avoid alerting if no internet connection.
                        console.log(error);
                    }
                });
            }

            function GetQuestionBySubjectsAndNumber(subject, number) {
                $.ajax({
                    url: '../api/question/GetQuestionBySubjectAndNumber',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json',
                    async: false,
                    data: {
                        subject: subject,
                        number: number
                    },
                    success: function (response) {
                        debugger;
                        $('#number').val(response.questionNumber);
                        $('#question').val(response.questionText);
                        $('#option1').val(response.option1);
                        $('#option2').val(response.option2);
                        $('#option3').val(response.option3);

                        $('#option1Label').text(response.option1);
                        $('#option2Label').text(response.option2);
                        $('#option3Label').text(response.option3);


                        return response;
                    },
                    error: function (error) {
                        //alert("Error occured");//To avoid alerting if no internet connection.
                        console.log(error);
                    }
                });
            }


            function saveGeneralKnowledgeAnswers() {
                debugger;
                let answers = [];

                let subject = "General Knowledge";
                var applicantAnswerSummaryId = 0;
                var sessionId = 0;

                var score = 0; ApplicantId
                let applicantId = $('#ApplicantId').val();

                for (let i = 1; i <= 5; i++) {

                    let questionNumberField = "GeneralKnowledgeQuestion" + i + "Number";
                    var questionNumber = $("#" + questionNumberField).text();

                    let selectedAnswerField = "GeneralKnowledgeQuestion" + i + "Option";
                    let selectedAnswer = $("input[type='radio'][name='" + selectedAnswerField + "']:checked").val();

                    let answer = new prepareAnswerObject(applicantAnswerSummaryId, sessionId, questionNumber, score, applicantId, subject, selectedAnswer, false);
                    answers.push(answer);
                }

                if (answers.length > 0) {
                    let request = JSON.stringify(answers);
                    $.ajax({
                        url: '../api/ApplicantAnswerDetails/saveAnswers',
                        dataType: 'json',
                        contentType: "application/json",
                        type: "POST",
                        data: request,
                        success: function (response) {
                            alert("General Knowledge submitted successfully");
                        }
                    });
                }

            }

            function saveMathematicsAnswers() {
                debugger;
                let answers = [];

                let subject = "Mathematics";
                var applicantAnswerSummaryId = 0;
                var sessionId = 0;

                var score = 0; ApplicantId
                let applicantId = $('#ApplicantId').val();

                for (let i = 1; i <= 5; i++) {

                    let questionNumberField = "MathematicsQuestion" + i + "Number";
                    var questionNumber = $("#" + questionNumberField).text();

                    let selectedAnswerField = "MathematicsQuestion" + i + "Option";
                    let selectedAnswer = $("input[type='radio'][name='" + selectedAnswerField + "']:checked").val();

                    let answer = new prepareAnswerObject(applicantAnswerSummaryId, sessionId, questionNumber, score, applicantId, subject, selectedAnswer, false);
                    answers.push(answer);
                }

                if (answers.length > 0) {
                    let request = JSON.stringify(answers);
                    $.ajax({
                        url: '../api/ApplicantAnswerDetails/saveAnswers',
                        dataType: 'json',
                        contentType: "application/json",
                        type: "POST",
                        data: request,
                        success: function (response) {
                            alert("Mathematics submitted successfully");
                        }
                    });
                }

            }

            function saveComputerTechnologyAnswers() {
                debugger;
                let answers = [];

                let subject = "Computer Technology";
                var applicantAnswerSummaryId = 0;
                var sessionId = 0;

                var score = 0; ApplicantId
                let applicantId = $('#ApplicantId').val();

                for (let i = 1; i <= 5; i++) {

                    let questionNumberField = "ComputerTechnologyQuestion" + i + "Number";
                    var questionNumber = $("#" + questionNumberField).text();

                    let selectedAnswerField = "ComputerTechnologyQuestion" + i + "Option";
                    let selectedAnswer = $("input[type='radio'][name='" + selectedAnswerField + "']:checked").val();

                    let answer = new prepareAnswerObject(applicantAnswerSummaryId, sessionId, questionNumber, score, applicantId, subject, selectedAnswer, true);
                    answers.push(answer);
                }
                alert("All test completed successfully.");
                if (answers.length > 0) {
                    let request = JSON.stringify(answers);
                    $.ajax({
                        url: '../api/ApplicantAnswerDetails/saveAnswers',
                        dataType: 'json',
                        contentType: "application/json",
                        type: "POST",
                        data: request,
                        success: function (response) {
                            debugger
                            console.log(response)
                            if (response === "pass")
                                alert("You Passed. Please check result details");
                            else
                                alert("You Failed. Please check result details");
                        }
                    });
                }

            }

            function prepareAnswerObject(applicantAnswerSummaryId, sessionId, questionNumber, score, applicantId, subject, selectedAnswer, isLastSubject) {
                debugger;
                var self = this;

                self.ApplicantAnswerSummaryId = applicantAnswerSummaryId;
                self.SessionId = sessionId;
                self.QuestionNumber = Number(questionNumber);
                self.Score = score;
                self.ApplicantId = Number(applicantId);
                self.Subject = subject;
                self.SelectedAnswer = selectedAnswer;
                self.IsLastSubject = isLastSubject;
            }

            function getAnswerDetailByApplicantId() {
                let applicantId = $('#ApplicantId').val();
                $.ajax({
                    url: '../api/ApplicantAnswerDetails/GetAnswerDetailByApplicantId',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json',
                    async: false,
                    data: {
                        applicantId: Number(applicantId)
                    },
                    success: function (response) {
                        debugger;
                        if (response !== null) {
                            if (response.length > 0) {
                                alert("Applicant has already done the aptitude test. Kindly check applicant result");
                            }
                            else {
                                document.getElementById("general-knowledge-card").style.display = "block"
                                document.getElementById("startGeneralKnowledgeButton").style.display = "none";
                                getGeneralKnowledgeQuestions();
                                timer();
                            }
                        }
                        else {
                            document.getElementById("general-knowledge-card").style.display = "block"
                            document.getElementById("startGeneralKnowledgeButton").style.display = "none";
                            getGeneralKnowledgeQuestions();
                        }
                    },
                    error: function (error) {
                        //alert("Error occured");//To avoid alerting if no internet connection.
                        console.log(error);
                    }
                });
            }

        })
    </script>
}